.block_quickfinder .searchform {text-align: center;}
.block_quickfinder .searchform img {vertical-align: middle;}
.block_quickfinder .searchform img.resize {width: 1em;height: 1.1em;}
.block_quickfinder .invisiblefieldset {display: block;}

